

<footer class="site-footer">
    <div class="container">
        <i class="icon-cupcake logo"></i>
        <nav class="footer-navigation">
            <a asp-action="Index" asp-controller="Main">Anasayfa</a>
            <a asp-action="Index" asp-controller="About">Hakkımda</a>
            <a asp-action="Index" asp-controller="Makale">Blog</a>
            <a asp-action="Index" asp-controller="Blog">Tariflerim</a>
            <a asp-action="Index" asp-controller="DietProg">Diyet Programları</a>
            <a asp-action="Index" asp-controller="Contact">İletişim</a>
            <a asp-action="SignIn" asp-controller="Login">Giriş</a>

        </nav>
    
     
        <div class="colophon">
            <p>Copyright 2022 Tasarımcı UA. Tüm Hakları Saklıdır</p>

        </div>
    </div>
</footer>