
<header class="site-header">
    <div class="container">
        <a href="index.html" id="branding" class="pull-left">
            <i class="icon-cupcake logo"></i>
            <h1 class="site-title">Umut Atraş</h1>
        </a>
        <!-- Default snippet for navigation -->
        <div class="main-navigation pull-right">
            <button type="button" class="menu-toggle"><i class="fa fa-bars"></i></button>
            <ul class="menu">
                <li class="menu-item"><a asp-action="Index" asp-controller="Main">Anasayfa</a></li>
                <li class="menu-item"><a asp-action="Index" asp-controller="About">Hakkımda</a> </li>
                <li class="menu-item"><a asp-action="Index" asp-controller="Makale">Blog</a></li>
                <li class="menu-item"><a asp-action="Index" asp-controller="Blog">Tariflerim</a></li>
                <li class="menu-item"><a asp-action="Index" asp-controller="DietProg">Diyet Programları</a></li>
                <li class="menu-item"><a asp-action="Index" asp-controller="Contact">İletişim</a></li>

            </ul> <!-- .menu -->
        </div> <!-- .main-navigation -->

        <div class="mobile-navigation"></div>
    </div>
</header>