
<div class="hero">
    <div class="container">
        <i class="icon-cupcake logo"></i>
        <h1 class="site-title">Umut Atraş</h1>
        <small class="site-description">Diyetisyen</small>
    </div>
</div>

<main class="main-content">
    <div class="fullwidth-block cooking-section category-block">
        <div class="container">
            <figure><img src="/dietician/dummy/cooking.png" alt="cooking"></figure>
            <div class="category-content">
                <h1 class="category-title">Lorem ipsum dolor sit</h1>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. At autem aperiam ab, rem dignissimos ducimus soluta culpa veritatis consequuntur asperiores, ad cum, ipsum quidem harum error dolores quia eius quae.</p>
                <a href="#" class="button">Read more</a>
            </div> <!-- .category-content -->
        </div>
    </div> <!-- .cooking-section -->
 

</main>