@using EntityLayer.Concrete
@model List<ContactDynamic>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div class="container">
    <table class="table table-bordered table-striped" id="myTable">
        <thead>
            <tr>
                <th>
                    Adı soyadı
                </th>
                <th>
                    Mail
                </th>
                <th>
                    Telefon
                </th>
                <th>
                    Mesaj
                </th>

                <th>Sil</th>
                <th></th>

            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>

                    <td>
                        @item.Namesurname
                    </td>
                    <td>
                        @item.Email
                    </td>
                    <td>
                        @item.Phone
                    </td>
                    <td>
                        @item.Message
                    </td>


                    <td>
                        <a href="/Admin/Message/Delete/@item.ContactDynamicID">Sil</a>
                    </td>
                    <td></td>

                </tr>
            }
        </tbody>
    </table>
</div>

@section Scripts{
    <script type="text/javascript">
        $(document).ready(function () {
            $('#myTable').DataTable({
                language: {
                    "url": "//cdn.datatables.net/plug-ins/9dcbecd42ad/i18n/Turkish.json",
                },
            });
        });
    </script>
}

