@model DiyetisyenProje.Models.UserRegisterWM
@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Kayıt Sayfası</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- LINEARICONS -->
    <link rel="stylesheet" href="/colorlib-regform-26/fonts/linearicons/style.css">

    <!-- STYLE CSS -->
    <link rel="stylesheet" href="/colorlib-regform-26/css/style.css">
</head>

<body>

    <div class="wrapper">
        <div class="inner">
            <img src="/colorlib-regform-26/images/image-1.png" alt="" class="image-1">
            <form method="post">
                <h3>Yeni Hesap</h3>
                <div class="form-holder">
                    <span class="lnr lnr-user"></span>
                    <input type="text" class="form-control" asp-for="username" placeholder="Kullanıcı Adı">
                </div>
                <div class="form-holder">
                    <span class="lnr lnr-phone-handset"></span>
                    <input type="text" class="form-control" asp-for="name" placeholder="Ad">
                </div>
                <div class="form-holder">
                    <span class="lnr lnr-phone-handset"></span>
                    <input type="text" class="form-control" asp-for="surname" placeholder="Soyad">
                </div>

                <div class="form-holder">
                    <span class="lnr lnr-phone-handset"></span>
                    <input type="text" class="form-control" asp-for="phone" placeholder="Telefon Numarası">
                </div>
                <div class="form-holder">
                    <span class="lnr lnr-envelope"></span>
                    <input type="text" class="form-control" asp-for="mail" placeholder="Mail">
                </div>
                <div class="form-holder">
                    <span class="lnr lnr-lock"></span>
                    <input type="password" class="form-control" asp-for="password" placeholder="Şifre">
                </div>
                <div class="form-holder">
                    <span class="lnr lnr-lock"></span>
                    <input type="password" class="form-control" asp-for="confirmpassword" placeholder="Şifre Tekrar">
                </div>
                <button>
                    <span>Kayıt Ol</span>
                </button>
            </form>
            <img src="/colorlib-regform-26/images/image-2.png" alt="" class="image-2">
        </div>

    </div>

    <script src="/colorlib-regform-26/js/jquery-3.3.1.min.js"></script>
    <script src="/colorlib-regform-26/js/main.js"></script>
</body><!-- This templates was made by Colorlib (https://colorlib.com) -->
</html>